# Compiled Go binary files
*.exe
*.o
*.a
*.out

# Output directories
/_output/
/bin/
/vendor/

# Dependency directories
/vendor/


# Testing binary, build directory
/test/
/build/

# IDE and text editor specific files/directories
.idea/
.vscode/
*.swp
*.swo
*.swx
*.bak
*.tmp

# Log files
*.log

# Environment variables file
*.env

*logs
*.log
*npm-debug.log*
*yarn-debug.log*
*yarn-error.log*
*pnpm-debug.log*
*lerna-debug.log*

*node_modules
*dist
*dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.sqlite
dist/
